.team-cards {
  display: flex;
}

.team__member {
  width: calc((100% - 90px) / 4);
  background-color: #ffffff;
  border: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__member:not(:last-child) {
  margin-right: var(--set-card-gap);
}

.team {
  background: #f5f4fa;
}

.team__photo {
  margin-bottom: 30px;
}
.team__title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team__position {
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}

.social-links__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--no-action-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: #ffffff;
    background-color: var(--hover-color);
  }
}

.social-links__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__item + .social-links__item {
  margin-left: 10px;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
